<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>harveyr.alfred-jira</string>
	<key>connections</key>
	<dict>
		<key>1FC9DAC4-6DDA-4471-A2DC-1D7541DE23A2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>55B74B4B-CEF1-4305-9DC8-A73A80E23A5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>6C15E394-BC3C-41AE-A064-678B5F96F572</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C95EBE9-27C4-4C80-A3BF-A600C331B951</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>85326FC5-14CB-4ED5-B29A-5586008796BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8CD12C80-571E-4930-80B9-F9A09CE00C5F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>C2031ADA-C4C2-4897-AC64-5B573D1D35C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F92F9FFA-8885-48FC-A6B1-C7FF7E2D7B36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0888EE37-8088-4239-99F1-4C05D50B3B6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Harvey Rogers</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>OmniAPI</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>uajirame</string>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>source bin/activate
python alfred_omni_api.py jira --me --query='{query}'</string>
				<key>title</key>
				<string>Jira: Search My Issues</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C2031ADA-C4C2-4897-AC64-5B573D1D35C4</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>uaprs</string>
				<key>runningsubtext</key>
				<string>Fetching...</string>
				<key>script</key>
				<string>source bin/activate
python alfred_omni_api.py github --prs --repo='urbanairship/airship' --query='{query}'</string>
				<key>subtext</key>
				<string>Search Airship PRs</string>
				<key>title</key>
				<string>Airship PRs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>85326FC5-14CB-4ED5-B29A-5586008796BC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>uacommits</string>
				<key>runningsubtext</key>
				<string>Fetching...</string>
				<key>script</key>
				<string>source bin/activate
python alfred_omni_api.py github --commits --repo='urbanairship/airship' --query='{query}'</string>
				<key>subtext</key>
				<string>Search commits</string>
				<key>title</key>
				<string>Airship Commits</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7C95EBE9-27C4-4C80-A3BF-A600C331B951</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>uajivea</string>
				<key>runningsubtext</key>
				<string>Fetching...</string>
				<key>script</key>
				<string>source bin/activate
python alfred_omni_api.py jive --activity --query='{query}'</string>
				<key>title</key>
				<string>Jive Activity</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1FC9DAC4-6DDA-4471-A2DC-1D7541DE23A2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>hacks</string>
				<key>runningsubtext</key>
				<string>Fetching...</string>
				<key>script</key>
				<string>source bin/activate
python alfred_omni_api.py hackpad --pads --query='{query}'</string>
				<key>title</key>
				<string>Hackpads</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6C15E394-BC3C-41AE-A064-678B5F96F572</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>trelloboards</string>
				<key>runningsubtext</key>
				<string>fetching...</string>
				<key>script</key>
				<string>source bin/activate
python alfred_omni_api.py trello --boards --query='{query}'</string>
				<key>subtext</key>
				<string>Yep</string>
				<key>title</key>
				<string>Browse Trello Boards</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8CD12C80-571E-4930-80B9-F9A09CE00C5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>trellocc</string>
				<key>subtext</key>
				<string>(OmniAPI)</string>
				<key>text</key>
				<string>Trello: Create Card</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F92F9FFA-8885-48FC-A6B1-C7FF7E2D7B36</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>source bin/activate
python alfred_omni_api.py trello --createcard --query='{query}'</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0888EE37-8088-4239-99F1-4C05D50B3B6E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>emoji</string>
				<key>runningsubtext</key>
				<string>Fetching...</string>
				<key>script</key>
				<string>source bin/activate
python alfred_omni_api.py github --emoji --query='{query}'</string>
				<key>title</key>
				<string>Search Emoji</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55B74B4B-CEF1-4305-9DC8-A73A80E23A5F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0888EE37-8088-4239-99F1-4C05D50B3B6E</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>0C013DAA-BEAC-4C07-993B-1DBE5F1A083B</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>1FC9DAC4-6DDA-4471-A2DC-1D7541DE23A2</key>
		<dict>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>55B74B4B-CEF1-4305-9DC8-A73A80E23A5F</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
		<key>6C15E394-BC3C-41AE-A064-678B5F96F572</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>7C95EBE9-27C4-4C80-A3BF-A600C331B951</key>
		<dict>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>85326FC5-14CB-4ED5-B29A-5586008796BC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>8CD12C80-571E-4930-80B9-F9A09CE00C5F</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>C2031ADA-C4C2-4897-AC64-5B573D1D35C4</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F92F9FFA-8885-48FC-A6B1-C7FF7E2D7B36</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
